<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--
    Valid priorities are:
        Normal = 32,
        Idle = 64,
        High = 128,
        RealTime = 256,
        BelowNormal = 16384,
        AboveNormal = 32768,
    For more info on process priorities refer to http://msdn.microsoft.com/en-us/library/system.diagnostics.processpriorityclass%28v=vs.110%29.aspx
    -->
    <add key="processPriority" value="256" />
    <add key="core.theme" value="FluentDark" />
    <add key="core.AllowAnimations" value="false" />
    <add key="core.pluginsDirectory" value="Plugins" />
    <add key="core.disableLazyLoading" value="false" />
    <add key="core.iqBalancer.buffersToSkip" value="1" />
    <add key="core.iqBalancer.fftIntegration" value="4" />
    <add key="core.iqBalancer.fftOverlap" value="2" />
    <add key="core.iqBalancer.correlationIntegration" value="16" />
    <add key="fftSpeed" value="5" />
    <add key="fftContrast" value="0" />
    <add key="pllPhaseAdjM" value="0.0" />
    <add key="pllPhaseAdjB" value="-1.75" />
    <add key="deemphasisTime" value="50" />
    <add key="spectrumStyle" value="3" />
    <add key="spectrumAnalyzer.snrGradient" value="FFFFFF,1E90FF,000091,000050" />
    <add key="spectrumAnalyzer.gradient" value="FFFFFF,ADD8E6,1E90FF,000050,000000" />
    <add key="spectrumAnalyzer.envelopeColor" value="FFFFFF" />
    <add key="spectrumAnalyzer.peakColor" value="FFFF00" />
    <add key="spectrumAnalyzer.fillColor" value="1E90FF" />
	<add key="spectrumAnalyzer.attack" value="0.35" />
	<add key="spectrumAnalyzer.decay" value="0.19" />
	<add key="waterfall.Attack" value="0.91" />
	<add key="waterfall.decay" value="0.83" />
    <add key="waterfall.useUtcTimeStamp" value="False" />
	<add key="waterfall.gradient" value="0" />
    <add key="useAntiAliasedDisplay" value="true" />
    <add key="iqSource" value="0" />
    <add key="detectorType" value="1" />
    <add key="centerFrequency" value="103000000" />
    <add key="vfo" value="103000000" />
    <add key="spectrumWidth" value="10000000" />
    <add key="stepSizes" value="1 Hz,10 Hz,100 Hz,500 Hz,1 kHz,2.5 kHz,3 kHz,5 kHz,6.25 kHz,7.5 kHz,8.3333 kHz,9 kHz,10 kHz,12.5 kHz,15 kHz,20 kHz,25 kHz,30 kHz,50 kHz,100 kHz,150 kHz,200 kHz,250 kHz,300 kHz,350 kHz,400 kHz,450 kHz,500 kHz,1 MHz" />
    <add key="funcubeFrequencyCorrection" value="-21.0" />
    <add key="softrockFrequencyMultiplier" value="4" />
    <add key="minReducedNarrowBandwidth" value="9000" />
    <add key="minReducedWideBandwidth" value="120000" />
    <add key="airspy.vga" value="6" />
    <add key="airspy.mixerAgc" value="False" />
    <add key="airspy.mixer" value="6" />
    <add key="airspy.lnaAgc" value="False" />
    <add key="airspy.lna" value="1" />
    <add key="airspy.sampleRate" value="0" />
    <add key="airspy.decimation" value="0" />
    <add key="airspy.trackingFilterEnabled" value="True" />
    <add key="airspy.biasTeeEnabled" value="False" />
    <add key="airspy.spyVerterEnabled" value="True" />
    <add key="airspy.spyVerterPPM" value="0" />
    <add key="airspy.usePacking" value="False" />
    <add key="airspy.aliasFreeRatio" value="0.8" />
    <add key="airspy.useRealSampling" value="0" />
    <add key="airspy.debug" value="0" />
    <add key="airspyhf.debug" value="0" />
    <add key="airspyhf.libdsp" value="1" />
    <add key="airspyhf.sampleRate" value="768000" />
    <add key="airspyhf.iqBalancer.buffersToSkip" value="1" />
    <add key="airspyhf.iqBalancer.fftIntegration" value="4" />
    <add key="airspyhf.iqBalancer.fftOverlap" value="2" />
    <add key="airspyhf.iqBalancer.correlationIntegration" value="16" />
    <add key="airspyhf.aliasFreeRatio" value="0.8" />
    <add key="airspyhf.useNativeDecimation" value="0" />
    <add key="plugin.bandplan.database" value=".\BandPlan.xml" />
	<add key="plugin.bandPlan.saveOnClose" value="true" />
	<add key="plugin.bandPlan.updateDatabase" value="true" />
    <add key="plugin.frequencymanager.database" value=".\Frequencies.xml" />
    <add key="spyserver.disableAutoScaling" value="false" />
    <add key="rdsUseFEC" value="True" />
    <add key="useTimeMarkers" value="false" />
    <add key="useAGC" value="True" />
    <add key="agcThreshold" value="-50" />
    <add key="agcDecay" value="500" />
    <add key="agcSlope" value="0" />
    <add key="agcHang" value="False" />
    <add key="latency" value="50" />
    <add key="filterAudio" value="True" />
    <add key="fftDisplayOffset" value="2" />
    <add key="fftDisplayRange" value="11" />
    <!-- 
    Zoom positions: 0: Top, 1: Bottom, 2: Left, 3: Right
    -->
    <add key="zoomPosition" value="1" />
    <add key="displayBeforeFilter" value="false" />
    <!-- 
    This value is the number of buffers the driver uses. Must be a power of two.  Value of zero is driver default (8)
    -->
    <add key="RTLBufferLength" value="16384" />
    <add key="SDRIQReadBlockCount" value="1" />
    <add key="SDRIQOutFifoBlockCount" value="0" />
    <add key="USRPSampleRates" value="0.25,0.5,1.0,2.0,2.5,8.0,16.0,32.0"/>
</configuration>